/*global*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Epilogue', sans-serif;
    list-style: none;
    text-decoration: none;
}

:root{
    --color1--: var(hsl(0, 0%, 98%));
    --color2--: var(hsl(0, 0%, 53%));
    --color3--: var(hsl(0, 0%, 8%));
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/***fim global****/

.header{   
    width: 100vw;
    display: flex;
    flex-direction: column;    
    align-items: center;
    padding: 0px 15px;
    
}

.menu-hamburguer{
    display: none;
}

.header-box{
    max-width: 80rem;
    padding: 40px 0px;    
    display: grid;
    grid-template-columns: auto 8fr 1fr;
    justify-content: end;
    gap: 60px;
}

.header ul{
    display: flex;
    gap: 30px;
}

.login-item a{
    color: var(--color2--);
}

.btn-register a {
    color: var(--color2--);    
    border: 2px solid;
    border-color: var(--color2--);
    border-radius: 15px;
    padding: 10px 20px;
}

/*main*/
main{
    margin-top: 20px;
}

.main-box{
    max-width: 65rem;
    display: grid;
    grid-template-columns: repeat(2, 4fr);
    /* background-color: blue; */
    gap: 80px;
    padding: 0px 20px;    
}

.main-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-title{
    display: flex;
    flex-direction: column;
    font-size: 4rem; /*70px*/
    margin-bottom: 40px;
}

.main-text{
    margin-bottom: 40px;
    color: var(--color2--);
    max-width: 45ch;
    line-height: 1.5em;
}

.main{
    padding: 60px 0px;
    /* width: 31rem; */
}

.main-btn{
    padding: 15px 25px;
    font-size: 16px;
    color: hsl(0, 0%, 98%);
    background-color: hsl(0, 0%, 8%);
    border: none;
    border-radius: 15px;
}

#customers{
    display: flex;
    gap: 15px;

}
/*FALTA INCLUIR IMAGEM*/
.background{
    /* width: 31rem; */
    height: 35rem;
    background-image: url('../imgs/image-hero-desktop.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;    
    
    
}

footer{
    padding: 100px 0px;
}

/****responsivo*****/

@media (max-width: 1000px){   
    .main-box{
        max-width: 40rem;
        gap: 50px;
        grid-template-columns: 1fr;
    }
    
    .background{
        grid-row: 1;
    }
}

@media (max-width: 800px){
    #primary-menu{
        display: none;
    }
    #secondary-menu .login-menu{
        display: none;
    }

    .menu-hamburguer{
        display: block;
    }

    .header-box{
        justify-content: space-between;
    }
}