/*general styles*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

/*
- Mobile: 375px
- Desktop: 1440px
- Font size: 18px
*/
:root{
    /*primary color*/
    --p1--:#fe7867;
    --p2--: #fad400;
    --p3--: #25564b;
    --p4--: #19536b;
    --p5--: #458c7e;
    --p6--: #3CBDFF;
    --p7--: #6ED0FF;
    --p8--: #f3e38afd;
    --p9--:#f7a095;
    /*neutral color*/
    --n1--: #23303e;
    --n2--: #5a636c;
    --n3--: #818498;
    --n4--: #a7abae;
    --n5--: #ffffff;
    /****fonts******/
    --font1--: 'Barlow', sans-serif;
    --font2--: 'Fraunces', serif;
}

.hide{
    display: none;
}

/*header*/
.header-bg{
    background: url('../imgs/desktop/image-header.jpg') no-repeat center / cover;
    height: 100vh;    
    position: relative;
    
}
.container-header{  
    max-width: 110rem; /*1325px*/
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    margin: 0 auto;
    position: relative;    
}
.container-menu{
    display: flex;
    align-items: center;
    gap: 40px;
    
}
/* .icon-hamburger{
    display: none;
} */
.header-menu{
    display: flex;
    gap: 40px;
}
.header-menu a{
    color: var(--n5--);
    font-family: var(--font1--);    
}
.header-menu a:hover{
    text-decoration:underline;
}
.container-menu button{
    background-color: var(--n5--);
    font-family:var(--font2--);
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    transition: .2s;
    cursor: pointer;
}
.container-menu button:hover{
    background-color: var(--p7--);
    color: var(--n5--);
}
.container-menu-mobile{
    display: none;
}

.header-menu-mobile{
    padding: 2.5rem 1.25rem;  
    background-color: var(--n5--);
    position: absolute;
    top: 3.75rem;
    right: 1.25rem;
    left: 1.25rem;
    width: auto;
    height: 20rem;
    background-color: #19536b; /*será branco*/
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
    align-items: center;
}
.header-menu-mobile ul{    
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.header-mobile a{
    color: var(--n3--);
    font-family: var(--font1--);
}
.header-contact-mobile{
    background-color: var(--p2--);
    font-family:var(--font2--);
    padding: 15px 30px;
    border: none;
    border-radius: 25px;
    transition: .2s;
    cursor: pointer;
}
.section-bg{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-bg img{    
    position: absolute;
    top: 25rem;
}

.section-bg h1{
   text-align: center;
   color: var(--n5--);
   font-family: var(--font2--);
   font-size: 5rem;
   letter-spacing: .2em;
   margin-top: 110px;
}
/*****fim header*****/
/*****inicio main*****/
.main-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    /* background-color: var(--n1--); */
    /* align-items: center; */
    /* justify-content: center; */
}

.main-content{
    max-width: 45rem;
    padding: 10rem 0rem 10rem 11.25rem;
    display: flex;
    flex-direction: column;
    gap: 50px;
    align-self: center;
    /* background-color: blue; */
}
.main-title{
    max-width: 15ch;
    font-size: 3rem;
    font-family: var(--font2--);
    font-weight: 900;
}
.main-text{
    font-size: 1.25rem;
    max-width: 44ch;
    font-family: var(--font1--);
    color: var(--n2--);
    line-height: 1.8em;
}
.main-container button{
    max-width:11ch;
    background-color: transparent;
    border: none;
    font-family: var(--font2--);
    font-size: 1.2rem;
    cursor: pointer;
}
.main-container .main-btn::after{
    content: '';
    display: block;
    width: 100%;
    height: 0.63rem;    
    border-radius: 20px;
    transition: .2s;
    top: 2.5rem;
}
.main-container .btn-first::after{
    background-color: var(--p8--);
}

.main-container .btn-first:hover::after{
    background-color: var(--p2--);
}
.main-bg{
    background: url('../imgs/desktop/image-transform.jpg') no-repeat center / cover;
    background-color: var(--p2--);
}
.section-second{
    background: url('../imgs/desktop/image-stand-out.jpg') no-repeat center / cover;
    
}
.main-container .btn-second::after{
    background-color: var(--p9--);
}

.main-container .btn-second:hover::after{
    background-color: var(--p1--);
}
/*****fim main*****/

/************RESPONSIVE************/
@media (max-width: 1200px){       
    .main-container button{
       font-size: 1rem;
        
    }
    .main-container button::after{
       top: .5rem;
    }

    .main-text{
        font-size: 1rem;
        max-width: 44ch;       
        line-height: 1.8em;
    }
}

@media (max-width: 1000px){
    .header-bg{
        background: url('../imgs/mobile/image-header.jpg') no-repeat center / cover;
        height: 100vh;
    }
    .section-bg h1{
        font-size: 3rem;
    }
    .section-bg img{
        margin-top: 100px;
    }
    .main-container{
        grid-template-columns: 1fr;
    }
    .container-menu{
        display: none;
    }
    .container-menu-mobile{
        display: block;
    }
    .icon-hamburger {
        display: inline-block;
    } 
    .main-content{
        max-width: 45rem;
        padding: 3rem 2rem 3rem 2rem;
        align-items: center;
        gap: 30px;
        grid-row: 2;
    }  
    .main-bg{
        background: url('../imgs/mobile/image-transform.jpg') no-repeat center / cover;
        padding: 10rem 0rem 10rem 11.25rem;       
        grid-row: 1;
    }
    .main-title{
        font-size: 2.5rem;
        text-align: center;
    }
    .main-text{
        text-align: center;
    }
    .section-second{
        background: url('../imgs/mobile/image-stand-out.jpg') no-repeat center / cover;       
    }
   
}

@media (max-width: 400px){
    .section-bg h1{
        font-size: 2.5rem;
    }
}