/*******General styles********/
*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style: none;    
}
:root{
    /*primary colors*/
    --color-p1: hsl(0, 78%, 62%);
    --color-p2: hsl(180, 62%, 55%);
    --color-p3: hsl(34, 97%, 64%);
    --color-p4:  hsl(212, 86%, 64%);
    /*neutral colors*/
    --color-n1:  hsl(234, 12%, 34%);
    --color-n2: hsl(229, 6%, 66%);
    --color-n3: hsl(0, 0%, 98%);
    --color-n4: hsl(0, 0%, 100% );
    --color-shadow: hsla(212, 86%, 64%, .2)    
}
body{
    background-color: var(--color-n3);
}
/***************************/
header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 0rem;
    gap: 1.25rem;
}
header #title {    
    font-size: 2rem;
    font-weight: 200;
    color:var(--color-n1);
} 
header #detail{
    font-weight: 600;
    max-width: 40ch;
}
header p{
    color: var(--color-n2);
    max-width: 55ch;
    text-align: center;    
}
#container-cards{
    display: flex;
    align-items: center;
    justify-content: center;  
}
ul{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
}
#supervisor {   
    grid-column: 1;
    display: flex;    
    position: relative;
    top: 50%;   
    border-top: .25rem solid var(--color-p2);
}
#karma, #team{
    grid-column:2;
}
#team{
    border-top: 4px solid var(--color-p1);
}
#karma{
    border-top: 4px solid var(--color-p3);
}
#calculator{
   grid-row: 1; 
   grid-column: 3;
   position: relative;
   top: 50%;   
   border-top: .25rem solid var(--color-p4);
}
.card{
    padding: 2rem;
    background-color: var(--color-n4) ;
    width: 23.75rem;
    display: flex;
    border-radius: .63rem;
    box-shadow: 2px 10px 15px var(--color-shadow);
}
.card h2{
    font-size: 1.2rem;
    color: var(--color-n1);
    margin-bottom: 1.2rem;
}
.card p{
    color: var(--color-n2);
    font-size: .9rem;
    max-width: 35ch;    
}
.card-icon{
    display: flex;
    justify-content: flex-end;
    margin-top: 3.13rem;
}
footer{
    text-align: center;
    padding: 1.5rem;
    color: var(--color-n1);
}
/**********RESPONSIVE************/
@media (max-width: 1200px){
    .card{
        padding: 1rem;
        width: 20rem; 
    }
}
@media (max-width: 1000px){
    ul{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    #supervisor, #calculator {
        top: 0%;
    }
    #calculator{
        grid-column: 2;
        grid-row: 2;
    }  
    #team{
        grid-column: 2;
        grid-row: 1; 
    }
    #karma{
        grid-column: 1;
        grid-row: 2; 
    }
}
@media (max-width: 700px){
    ul{
        display: grid;
        grid-template-columns: 1fr;
        gap: 1rem;
    }
    #calculator{
        grid-column: 1;
        grid-row: 4;
    }  
    #team{
        grid-column: 1;
        grid-row: 2; 
    }
    #karma{
        grid-column: 1;
        grid-row: 3; 
    }
}
@media (max-width: 400px){
    header #title {    
        font-size: 1.5rem;
    } 
    header #detail{
        font-weight: 600;
        max-width: 40ch;
    }
    footer p{
        max-width: 40ch;        
    }
}